@import url('https://fonts.googleapis.com/css2?family=Recursive:slnt,wght,CASL,CRSV,MONO@-15..0,300..800,0..1,0..1,0..1&display=swap');

:root {
    --primary-color: #fff;
    --secondary-color: #141414;
    --success-color: #28a745;
    --warning-color: #ffc107;
    --danger-color: #dc3545;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Recursive', monospace;
}

h1, h2, h3, h4 {
    font-weight: bolder;
}

html, body {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

body.dark-theme {
    --primary-color: #141414;
    --secondary-color: #fff;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.theme-btn {
    margin: 0 0.1rem;
    font-size: large;
    display: block;
    width: 2rem;
    height: 2rem;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    box-shadow: 3px 3px grey;
    transition: all 0.1s ease;
}

.theme-btn:active {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    transform: translateX(3px);
    box-shadow: 0px 0px grey;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    filter: none;
}

.icon.dark-theme {
    filter: invert();
}

/* HEADER */

header, footer {
    padding: 0.5rem;
    text-align: center;
}

header ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
}

header ul li {
    width: 10rem;
}

header a {
    display: block;
    width: 100%;
    height: 1.5rem;
    font-size: larger;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    box-shadow: 3px 3px grey;
    text-decoration: underline;
    transition: all 0.1s ease;
}

header a:active, header li:active {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    transform: translateX(3px);
    box-shadow: 0px 0px grey;
}

header .hero {
    padding: 0.5rem;
}

.hero img {
    box-shadow: 5px 5px grey;
    width: 80%;
    max-width: 200px;
    height: auto;
}

.links {
    margin: 0.5rem 0.5rem 2.5rem;
    display: grid;
    width: 130px;
    grid-template-columns: 60px 60px;
    gap: 0.5rem;
    place-self: center;
}

.links a {
    text-decoration: none;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    box-shadow: 3px 3px grey;
    transition: all 0.1s ease;
}

.links img {
    filter: invert();
}

.links a:active{
    background-color: var(--tertiary-color);
    filter: invert();
    transform: translateX(3px);
    box-shadow: 0px 0px grey;
}



/* MAIN */

main {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

hr {
    width: 100%;
    max-width: 1020px;

}

p {
    max-width: 600px;
}

h3 {
    font-size: x-large;
}

section {
    margin: 0.5rem;
    text-align: center;
}

section h3 {
    margin: 0.5rem 0;
}

section h4 {
    margin: 0.25rem 0;
}

div {
    margin: 0.5rem 0;
}

#about p{
    text-align: justify;
    margin: 0.5rem 0;
}

#about + hr {
    max-width: 600px;
}

.job p, .job ul{
    text-align: justify;
}

.job ul {
    text-align: left;
    padding: 0.5rem;
}

.job ul li {
    padding: 0.5rem 0;
}

#education div p {
    text-align: justify;
}

#education + hr {
    max-width: 600px;
}

#skills ul {
    list-style-type: none;
}

#skills + hr {
    max-width: 645px;
}

.skill {
    padding: 5px;
}

.skill h4 {
    text-decoration:underline;
    font-weight: bolder;
}

.skill li {
    display: flex;
    align-items: center;
    gap: 5%;
}

.project img {
    width: 100%;
    max-width: 350px;
    height: auto;
}

.project p {
    text-align: justify;
}

footer p {
    max-width: none;
}

#return-top {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    box-shadow: 3px 3px grey;
    transition: all 0.1s ease;
    font-size: large;
    padding-top: 0.5rem;
}

#return-top:active {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    transform: translateX(3px);
    box-shadow: 0px 0px grey;
}


@media (prefers-color-scheme: dark) {
    body {
        --primary-color: #141414;
        --secondary-color: #fff;
    }

    a {
        color: #82c7ff;
    }

    .icon {
        filter: invert();
    }

    .links a {
        background-color: var(--secondary-color);
    }

    .links img {
        filter: none;
    }

    body.light-mode {
        --primary-color: #fff;
        --secondary-color: #141414;
    }

    body.light-mode .icon {
        filter: none;
    }

    body.light-mode .links img {
        filter: invert();
    }
}

body.dark-mode {
    --primary-color: #141414;
    --secondary-color: #fff;
}

body.dark-mode .icon {
    filter: invert();
}

body.dark-mode .links img {
    filter: none;
}

@media screen and (min-width: 768px) {
    body {
        max-width: 1400px;
        margin: 0 auto;
    }

    header ul {
        max-width: fit-content;
        flex-direction: row;
        margin: 0 auto;
    }

    #about, #education{
        max-width: 80%;
    } 

    #experience {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    #experience h3 {
        grid-column: span 2;
    }

    .job {
        max-width: 500px;
    }

    .job p, .school p, .certificate p{
        padding: 0.5rem 0;
    }

    #skills h3 {
        grid-column: span 3;
    }

    #skills {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
    }
}